{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-3xl mb-6">Project</h1>
<a href="{% url 'project:add'%}" class="py-4 px-8 bg-sky-600 text-white rounded-2xl inline-block">Add Project</a>
<div class="mt-6 grid grid-cols-4 gap-4">
    {% for project in projects %}
    <div class="bg-slate-200 p-6 ">
        <a href="{% url 'project:project' project.id %}">
        <h2 class="text-xl">{{ project.name }}</h2>
        <p class="text-sm text-slate-600"> 
            {{ project.description }}
        </p>
    </a>
    </div>
    {% endfor %}
</div>

{% endblock%}