{% extends 'core/base.html' %}

{%  block content %}
<div class="max-w-xl bg-slate-800 mx-auto py-8 text-center">
    <h1 class="text-3xl text-white ">Log in</h1>

    <form action="."  method="POST" class="px-8 mt-6 space-y-4">
        {% csrf_token %}
        <div>
        <label for="" class="text-white ">Email</label><br>
        <input type="email" name="email" id="" class="w-full bg-slate-600 text-white py-4 px-6">
        </div>
        <div>
            <label for="" class="text-white ">Password</label><br>
            <input type="password" name="password" id="" class="w-full bg-slate-600 text-white py-4 px-6">
            </div>

            <button  class="py-4 px-8 bg-slate-600 text-white rounded-2xl">Login</button>
    </form>
</div>
{%  endblock %}