{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-3xl mb-6">{{ todolist.name }}</h1>
<a href="" class="py-4 px-8 bg-sky-600 text-white rounded-2xl inline-block">Add Task</a>
<!-- <a href="" class="py-4 px-8 bg-green-600 text-white  inline-block">Mark as done</a> -->
<a href="" class="py-4 px-8 bg-sky-600 text-white  inline-block">Edit</a>
<a href="" class="py-4 px-8 bg-red-600 text-white  inline-block">Delete</a>

<div class="mt-6 grid grid-cols-4 gap-4">
    {% for task in todolist.tasks.all %}
    <div class="bg-slate-200 p-6 ">
        <a href="">
            <h2 class="text-xl">{{ task.name }}</h2>
            <p class="text-sm text-slate-600"> 
                {{ task.description }}
            </p>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
