{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-3xl">About</h1>
<div class="mt-6 space-y-6">
   <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, repellendus ratione veritatis illo nam porro tenetur commodi iste ut sapiente quo voluptatibus tempora? Nostrum aut aliquid quia sunt, et rem.
       Eos quasi repudiandae temporibus accusamus cum excepturi, officiis dolorem porro dicta perferendis aliquid sint rerum quas corporis delectus, placeat ducimus consequatur? Maiores nostrum quos sequi asperiores iure blanditiis, porro hic.
       Ea provident voluptatum distinctio ad officia quia qui atque amet nesciunt sed illum quas modi ipsum eligendi accusantium pariatur, quisquam voluptatibus dicta sint esse maxime quasi quidem odio nemo? Ab.
   </p>

   <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, repellendus ratione veritatis illo nam porro tenetur commodi iste ut sapiente quo voluptatibus tempora? Nostrum aut aliquid quia sunt, et rem.
       Eos quasi repudiandae temporibus accusamus cum excepturi, officiis dolorem porro dicta perferendis aliquid sint rerum quas corporis delectus, placeat ducimus consequatur? Maiores nostrum quos sequi asperiores iure blanditiis, porro hic.
       Ea provident voluptatum distinctio ad officia quia qui atque amet nesciunt sed illum quas modi ipsum eligendi accusantium pariatur, quisquam voluptatibus dicta sint esse maxime quasi quidem odio nemo? Ab.
   </p>
</div>

{% endblock %}